
.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.shadow-box {
  height: 120px;
  width: 100%;
  background-color: #64b5f6;
}

.Font {
 font-family: 'Gabriela', serif;
}

.Login {
  background-color: #282c34;
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 1em;
  text-align: left;
  width: 600px;
  font-family: 'Gabriela', serif;
  color:#64b5f6;
  
}

.form {
  padding: 1em;
  background-color: '#211F26';
  box-shadow: 15px, 15px rgb(173, 172, 172);
}


.btn {
  background-color:#64b5f6; 
  color: #282c34; 
}