
.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.shadow-box {
  height: 120px;
  width: 100%;
  background-color: #64b5f6;
}

.Font {
 font-family: 'Gabriela', serif;
}
.Font2 {
  font-family: 'Gabriela', serif;
  position: fixed; 
  align-items: left ;
 }

.Login {
  background-color: #282c34;
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 1em;
  text-align: left;
  width: 600px;
  font-family: 'Gabriela', serif;
  color:#64b5f6;
  
}

.form {
  padding: 1em;
  background-color: '#211F26';
  box-shadow: 15px, 15px rgb(173, 172, 172);
}


.Btn {
  background-color:#64b5f6; 
  color: #282c34; 
  border: 1px solid gainsboro; 
  border-radius: .5em; 
  margin-left: auto; 
  margin-right: auto; 
  height: 30px; 
}

.Register {
  background-color: #282c34;
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 1em;
  text-align: left;
  width: 600px;
  font-family: 'Gabriela', serif;
  color:#64b5f6;
  
  
  
}

.Topics {
  background-color: #282c34;
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 1em;
  text-align: left;
  width: 600px;
  font-family: 'Gabriela', serif;
  color:#64b5f6;
  
}

.Topicslist {
  background-color: #282c34;
  border: .5px solid #d3d3d3;
  border-radius: .5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  padding: 1em;
  text-align: left;
  width: 900px;

  
  font-family: 'Gabriela', serif;
  color:#64b5f6;
  align-items: center;
  font-size: 15px;

  
}


.Postbox {
  background-color: #e2e6ec;
  border: 1px solid #d3d3d3;
  border-radius: .5em;
  margin-top: 80px;
  margin-bottom: 10px;
  padding: 1em;
  text-align: left;
  width: 860px;
  height: 300px;
  font-family: 'Gabriela', serif;
  color:#138bec;

  
}

.Reality{ 

  font-family: 'Gabriela', serif;
  color:#64b5f6;
  align-items: center;
  margin-top: 500px;

}